* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: serif;
  font-size: 18px;
}

body {
  display: grid;
  align-items: center;
}

#page_header {
  min-height: 8vh;
  display: grid;
  place-items: center;
}

#hero {
  min-height: 25vh;
  display: grid;
  place-items: center;
  background-image: url(/images/moody1.png);
  background-position: top;
  background-size: cover;
  > h1 {
    margin-top: 48px;
    color: white;
    text-align: center;
    width: 80%;
    font-size: 1.9rem;
    > i {
      font-size: 1.9rem;
    }
  }
}

#travel {
  display: grid;
  place-items: center;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  background-color: #acb0b9;
  > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

#travel > div {
  width: 95%;
  > p {
    font-weight: 600;
  }
  > h2 {
    margin-top: 48px;
    font-size: 3rem;
  }
}

#cards {
  min-height: 40vh;
  display: grid;
  place-items: center;
  background-image: url(/images/moody5.png);
  background-size: cover;
  background-position: bottom;
  > h1 {
    color: white;
    font-size: 1.9rem;
    margin: 12px 0px;
  }
}

#cards_container {
  width: 80%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 24px;
}

.card {
  background-color: white;
  padding: 20px;
  border-radius: 30px;
  display: grid;
  place-items: center;
  gap: 16px;
  text-align: center;
  > p {
    font-size: 0.8rem;
  }
}
